.product_container {
}
.product_thumb {
}
.product_desc {
}
.product_name {
  font-size: 16px;
  color: #ff9800;
}
.product_desc {
  font-size: 14px;
  color: #000;
}
.product_cart {
}
.product_price {
  color: #fa4a0c;
  font-weight: 600;
  font-size: 16px;
}
.product_add {
  width: 45px;
  height: 45px;
  border: #fa4a0c solid 1px;
  border-radius: 10px;
}
